:root{
    --box-size: min(20vh, 25vw);
}

* {
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Yusei Magic', sans-serif;
    margin-top: 1rem;
}

#turn {
    margin: 10px 0 20px 0;
}

#board{
    width: calc(3 * var(--box-size) + 12px);
    height: calc(3 * var(--box-size) + 12px);
    margin: auto;
    background-color: white;
}

.tile{
    float: left;
    cursor: default;
    width: var(--box-size);
    height: var(--box-size);
    line-height: var(--box-size);
    border: 2px solid black;
    font-size: 5rem;
    color: black;
    transition: 0.2s;
}

.empty {
    cursor: pointer;
}

.empty:hover {
    background-color: rgb(189, 189, 189);
}

.win {
    background-color: aqua;
}

#winner {
    margin: 10px 0;
}

#again{
    cursor: pointer;
    display: flex;
    margin: auto;
    padding: 10px 40px;
    font-size: 3rem;
    border-radius: 6px;
    transition: .2s;
}

#again:hover{
    background-color: rgb(142, 245, 117);
}
